.Cart {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Cart > * {
    margin-bottom: 1rem;
}

.Cart > *:last-child {
    margin-bottom: 0;
}

.Title {
    align-self: flex-start;
}

.ItemList {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-top: 0;
    Width: 95%
}

.ItemList li {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ItemList li:hover {
    background-color: var(--color-faded-primary);
    color: black;
}

.ItemList li:last-child {
    border-bottom: none;
}

.Total {
    border-top: solid 1px white;
    padding-top: 1em;
    width: 100%;
    text-align: right;
}

.Cart button {
    color: white;
    background-color: var(--color-complementary);
    border: solid 1px white;
    border-radius: 1em;
    margin-left: 0.5em;
    font-weight: bold;
    cursor: pointer;
}
