.SearchResults {
    margin-right: 1rem;
}

.ResultsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ResultsList li {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    justify-items: stretch;
    align-items: stretch;
}

.ResultsList li:last-child {
    border-bottom: none;
}

.Label {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
    background-color: green;
    font-size: 0.7rem;
    color: white;
}

.Item {
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: var(--color-active-background);
    color: black;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.Item:visited {
    color: #555;
}

.Item:hover {
    background-color: var(--color-faded-primary);
}